{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="col-sm-12">

<h1 align="center">Connexion</h1>
    <div>
        {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('users_login') }}" method="post">
            <table align="center">
                <tr align="center"><td><label for="username">E-mail:</label></td></tr>
                <tr align="center"><td><input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" /></td></tr>

                <tr align="center"><td><label for="password">Mot de passe:</label></td></tr>
                <tr align="center"><td><input type="password" class="form-control" id="password" name="_password" /></td></tr>

                <input type="hidden" name="_target_path" value="ehs_homepage" />

                <tr align="center"><td><button type="submit" class="btn btn-primary">Connexion</button></td></tr>
            </table>
        </form>

        <p align="center"><a href="{{ path('users_passwordLost') }}">Mot de passe perdu?</a></p>
    </div>

</div>
{% endblock %}

            