
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/nbproject/private/
/nbproject
/logs
/.data

.env.dist
.sass-cache/
.travis.yml
LICENSE
README.md
config.rb
Would skip repository docker-symfony/
elk/
nginx/
php7-fpm/
sass/
stylesheets/
web/public/images/main_img.jpg
web/public/sass/main.css
web/public/sass/responsive.css
web/app/
.idea/
.data/

