<!DOCTYPE html>
<html lang='fr'>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Bienvenu!{% endblock %}</title>
        {% block stylesheets %}
            <link href="../../../web/public/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
            <link href="../../../web/public/style/style.css" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav id="topNavbar" class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">LOGO</a>
                </div>
                <div id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Accueil</a></li>
                        <li><a href="#">Archives</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Forum</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    {% block body %}{% endblock %}
                    {% block javascripts %}{% endblock %}
                </div>
            
                <div class="col-xs-6 col-sm-3" id="sidebar">
                    <div>
                        CALENDRIER
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                        <a href="#" class="list-group-item">Link</a>
                    </div>
                  </div>
                </div>
            </div>
                
            <hr>

            <footer>
                <div class="container">
                    <p>IMIE - 2016 - dl15</p>
                </div>
            </footer>
        </div>

    </body>
</html>
