{% extends 'base.html.twig' %}

{% block title %}New archive{% endblock %}

{% block body %}
<div class="col-xs-12">
    <a class="btn btn-default" href="{{ path('archive_index') }}">Retour aux archives</a>

    <div class='archiveForm'>
	    <h1>Ajouter une archive</h1>

	    {{ form_start(form) }}
	        {{ form_widget(form) }}
	        <input type="submit" value="Envoyer" />
	    {{ form_end(form) }}
    </div>
    
</div>
{% endblock %}
