{% extends 'base.html.twig' %}

{% block title %}New archive{% endblock %}

{% block body %}
<div class="col-xs-12">
    <h1>Archive creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('archive_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
