{% extends 'base.html.twig' %}

{% block title %}New archive{% endblock %}

{% block body %}
<div class="col-xs-12">
    <h1>Archive creation</h1>
    <a class="btn btn-default" href="{{ path('archive_index') }}">Retour aux archives</a>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Envoyer" />
    {{ form_end(form) }}

</div>
{% endblock %}
