
/* main article + articles + sidebar */
#corps {
	padding: 100px 5% 0 5%;
	min-height: 80vh;
}

footer {
	padding: 30px 0;
	text-align: center;
	background-color: #93BD58;
	margin-top: 60px;
	color: white;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 900;
}


/* globals */
h1, h2 {
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 900;
}

p {
	font-family: 'Raleway', arial, sans-serif;
}

label {
	color: #825887;
	font-family: 'Raleway', arial, sans-serif;
}

.author {
	font-style: italic;
}

.pageTitle {
	color: #825887;
	text-align: center;
}


/* all buttons */
.btn, button, input[type='submit'] {
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 900;
	border: 1px solid #825887;
	padding: 5px;
	background-color: #825887;
	color: white;
	border-radius: 0;
}

.btn:hover, button:hover, input[type='submit']:hover {
	background-color: white;
	color: #825887;
	border-color: #825887;
}


/* article */
#articles {
   padding-bottom: 60px;
}
.article {
   height: 25em;
   padding: 15px;
   margin-bottom: 10px;
}

.article-inside {
	padding-top: 10px;
   background-color: #FAEDC6;
	box-shadow: 0px 5px 5px grey;
   width: 100%;
   height: 100%;
}

.articleContent {
    max-height: 18em;
    min-height: 18em;
    overflow: hidden;
}

.articleContent h2 {
    font-size: 1.5em;
    margin-top: 0;
}

.article-inside>.author {
	position: absolute;
	left: 8%;
	bottom: 8%;
}

.article-inside>.showButton {
	position: absolute;
	right: 8%;
	bottom: 6%;
}

.article-inside>.editButton {
	position: absolute;
	right: 0;
	top: 0;
}

.progressArticle {
}

.submitArticle {
	background-color: lightblue;
}

.publishedArticle {
	background-color: lightgreen;
}

.refusedArticle {
	background-color: #f8a290;
}

.mainArticleContent h1, .articleContent h2 {
	font-family: 'Roboto Slab', arial, serif;
	color: #93BD58;
}

.articleContent p, .mainArticleContent p {
	font-family: 'Raleway', arial, sans-serif;
}

.seeAll {
	position: absolute;
	bottom: 0;
	right: 25px;
}

.fullArticle {
	position: relative;
	padding: 20px;
   background-color: #FAEDC6;
	box-shadow: 0px 5px 5px grey;
	padding-bottom: 60px;
	margin-bottom: 20px;
	margin-top: 20px;
    overflow: hidden;
}

.fullArticle>.author {
	font-family: 'Raleway', arial, sans-serif;
	text-align: right;
	margin-top: 40px;
}

.fullArticle>.adminActions {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}
.fullArticle>.adminActions * {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.rowArticle {
	position: relative;
}

.rowArticle .nextButton {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;	
}

.rowArticle .prevButton {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
}

.articleForm h1 {
	color: #825887;
	text-align: center;
	margin-top: 50px;
}

.articleForm input[type='text'] {
	width: 100%;
	border: none;
	box-shadow: 0px 5px 5px grey;
	border: 1px solid lightgrey;
	padding: 10px;
	margin-bottom: 10px;
}

.articleForm button[type='submit'] {
	margin-top: 20px;
}

.articleForm textarea {
	width: 100%;
	padding: 10px;
	box-shadow: 0px 5px 5px grey;
	margin-bottom: 10px;
}

#editArticlePage .deleteForm {
	position: absolute;
	top: 80px;
	right: 50px;
}

/* presentations */
.presentation {
	position: relative;
	padding: 20px;
   background-color: #FAEDC6;
	box-shadow: 0px 5px 5px grey;
	margin-bottom: 30px;
    overflow: hidden;
}
.presentation .editer {
	position: absolute;
	top: 0;
	right: 0;
}


/* Comments */
.comment {
	font-family: 'Raleway', arial, sans-serif;
	position: relative;
	padding: 20px;
   background-color: #FAEDC6;
	box-shadow: 0px 5px 5px grey;
	margin-bottom: 30px;
    overflow: hidden;
}
.comment>.author {
	text-align: right;
	margin-top: 20px;
}
.comment>.modoActions {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
}
.comment>.modoActions * {
	display: block;
	width: 100px;
	margin-bottom: 5px;
}

.commentForm {
	margin-bottom: 30px;
}

.commentForm textarea {
	display: block;
	width: 100%;
	min-height: 100px;
	box-shadow: 0px 5px 5px grey;
	margin-bottom: 8px;
}

.commentForm input[type='submit'] {
	width: 100px;
	height: 40px;
}


/* Archives */
.archiveForm input[type='text'] {
	width: 100%;
	border: 1px solid lightgrey;
	padding: 10px;
}

/* main article */
#mainArticle {
	height: 21em;
	margin-bottom: 40px;
	padding: 0px 25px 0px 25px;
}

#mainArticle-inside {
	height: 100%;
	width: 100%;
  	background-color: #ece6d7;
	box-shadow: 0px 5px 5px grey;
}

#mainArticle-inside>.mainArticleContent {
	min-height: 18em;
	max-height: 18em;
    overflow: hidden;
}

#mainArticle-inside>.showButton {
	position: absolute;
	right: 2%;
	bottom: 5%;
}

#mainArticle-inside>.editButton {
	position: absolute;
	right: 0;
	top: 0;
}



/* sidebar */
#calendar {
	min-height: 21em;
	background-color: lightgrey;
	margin-bottom: 55px;
}
#calendar>.agenda {
	min-height: 21em;
}

.list-group {
	box-shadow: 0px 5px 5px grey;
}

#calendar h2 {
	color: #825887;
	font-size: 20px;
	margin-top: 0;
}



/*topmenu*/
#topNavbar {
	background-color: #93BD58;
	box-shadow: 0px 5px 20px grey;
	height: 50px;

}
#topNavbar img {
	height: 50px;
}

#topNavbar a {background-color: #93BD58;}
#topNavbar li a:link {color: white;}
#topNavbar li a:visited {color: white;}
#topNavbar li a:hover {
	color: #93BD58;
	background-color: white;
}
#topNavbar li a:active {
	color: #93BD58;
	background-color: white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}



/* Image galerie image_index */
.galerie img {
	max-width: 100%;
	max-height: 40vh;
}

/* sidebar */
#rightSidebar{
	background-color: #93BD58;
}
#calendar .list-group-item{
	margin-top: 5px;
	overflow: hidden;
}