{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presentation list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presentation in presentations %}
            <tr>
                <td>{{ presentation.id }}</td>
                <td>{{ presentation.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('presentation_edit', { 'id': presentation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('presentation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
