{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12">
    <h1>L'association</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ path('presentation_new') }}">Ajouter une présentation</a>
    {% endif %}

    <table>
        <tbody>
        {% for presentation in presentations %}
            <tr>
                <td>{{ presentation.content|raw }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-default" href="{{ path('presentation_edit', { 'id': presentation.id }) }}">Editer</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
