{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12">
    <h1>L'association</h1>

    <table>
        <tbody>
        {% for presentation in presentations %}
            <tr>
                <td>{{ presentation.content|raw }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('presentation_edit', { 'id': presentation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('presentation_new') }}">Create a new entry</a>
        </li>
    </ul>
    {% endif %}
</div>

{% endblock %}
