{% extends 'base.html.twig' %}

{% block body %}
<div id='presentationPage' class="col-xs-12">
    <h1>L'association</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default" href="{{ path('presentation_new') }}">Ajouter une présentation</a>
    {% endif %}

    {% for presentation in presentations %}
        <div class='presentation'>
            {{ presentation.content|raw }}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default editer" href="{{ path('presentation_edit', { 'id': presentation.id }) }}">Editer</a>
            {% endif %}
        </div>
    {% endfor %}

</div>

{% endblock %}
