{% extends 'base.html.twig' %}

{% block body %}
<div class="col-xs-12">
        <a class="btn btn-default" href="{{ path('presentation_index') }}">Retour aux présentations</a>
    <h1 class='pageTitle'>Nouvelle présentation</h1>

    <p>
        Ici vous pouvez créer une présentation de l'association que sera disponible dans l'onglet "L'association".
    </p>

    {{ form_start(form) }}
        {{ form_row(form.content, {'label':'Présentation:'}) }}
        <input type="submit" value="Publier" />
    {{ form_end(form) }}

</div>
{% endblock %}
