{% extends 'base.html.twig' %}
{% block header %}{% endblock %}
{% block body %}
<div class="col-xs-12">
    <h1>Contact</h1>
    <ul>
        <li>
            <a href="{{ path('contact_new') }}">Remplir le formulaire de contact</a>
        </li>
    </ul>

    <h1>
    	ICI METTRE LES COORDONEES
    </h1>
    Email: email@mail.com<br>
</div>
{% endblock %}
