{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>
    <ul>
        <li>
            <a href="{{ path('contact_new') }}">Remplir le formulaire de contact</a>
        </li>
    </ul>

    <h1>
    	ICI METTRE LES COORDONEES
    </h1>
    Email: email@mail.com<br>

{% endblock %}
