{% extends 'base.html.twig' %}
{% block body %}

<div class="col-xs-12">
<div id="contact" class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-offset-3 text-left wrap_title">
                <h1 class='pageTitle'>Contactez-Nous</h1>
            </div>
            <form action="{{ path('contact_new') }}" method="post" {{ form_enctype(form) }}>
                <div class="col-md-6">
                    {{ form_widget(form) }}
                    <br><input type="submit" class="btn btn-primary pull-right" value="Envoyer" />
                </div>
            </form>

            <hr class="featurette-divider hidden-lg">
        </div>

    </div>
</div>
</div>
{% endblock %}
