/*general*/
body {
  padding-top: 50px;
  margin:auto;
  width: 100%;
}
footer {
  padding: 30px 0;
}

fieldset{
	border:1px solid #c0c0c0;
	padding:0.35em 0.625em 0.75em;
	margin-top: 10px;
}

.body {
    display: flex;
    width: 80%;
    padding: 30px;
    margin: auto;
}

/*celendrier*/
.containerCalendrier{
  width: 400px;
}

.row{
  width: 100%;
}

#sidebar{
  width: 100%;
  margin: 20px;
  padding-right: 20px;
}
/*articles*/
.jumbotron{
  padding: 30px;
}

/*menu*/
#topNavbar {
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
}

#topNavbar a:link {color: white;}
#topNavbar a:visited {color: white;}
#topNavbar a:hover {color: blue;}
#topNavbar a:active {color: blue;}
#article {
    height: 18em;
}

/*formulaire*/
.formInscription{
	  background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    color: white;
    font-size:15px;
    width:100%;
    border: 1px solid;
    padding: 50px;
    border-radius: 20px;
    margin-top: 20px;
}

.formEdition{
	  background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    color: white;
    margin: auto;
    font-size:15px;
    width:100%;
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
}

.formEdition tr{
  width: 600px;
}

td{
	width: 250px;
	border: none;
	padding: 5px;
	color: black;
}

.formEdition textarea{
  width: 500px;
}
.formEdition input{
  width: 500px;
}

.formInscription textarea{
  width: 500px;
}
.formInscription input{
  width: 500px;
}

td label{
  color: white;
}

table{
	margin: auto;
	padding: 20px;
  border-radius: 20px;
}

.listeMembre{
	  background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    color: white;
    margin: auto;
    font-size:15px;
    border: 1px solid;
    padding: 20px;
    border-radius: 20px;
}