body {
  padding-top: 0;
  margin: auto;
  width: 100%;
}

.body{
    margin: auto;
    margin-top: 80px;
}

html, body {
    height:100%;
    margin:0;
}

header{
    z-index: 1000;
}

#GrandeIntro {
    height:100%;
    background-size:cover;
}

#siteWrapper {
    margin-top:-50px;
}
#siteWrapper header {
    height:80px;
}
#siteWrapper header.fixed {
    position:fixed;
    width:100%;
    top:0;
    left:0;
}
#siteWrapper header.fixed+#content {
    margin-top:25px;
}

#headerTop{
    margin: 0;
}


/*connexion*/
.connexion{
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    color: white;
    font-size:15px;
    width:45%;
    border: 1px solid;
    padding: 50px;
    border-radius: 20px;
    margin-top: 20px;
    height: 300px;
}

/*inscription*/
.inscription{
    background-image: -webkit-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -o-linear-gradient(#04519b, #044687 60%, #033769);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    color: white;
    font-size:15px;
    width:45%;
    border: 1px solid;
    padding: 50px;
    border-radius: 20px;
    margin-top: 20px;
    height: 300px;
}


