/*general*/
body {
  padding-top: 80px;
  margin: auto;
  width: 80%;
}

footer {
	margin-top: 50px;
  padding: 30px 0;
}



.articleContent {
    max-height: 20em;
    min-height: 10em;
    overflow: hidden;
}
.articleContent h2 {
    font-size: 2.5vh;
    margin-top: 0;
    color: orange;
}

.article {
   height: 25em;
   margin-top: 5px;
}

#articleContent {
	height: 18em;
	overflow: hidden;
}
#articleContent h1 {
	color: purple;
}
#mainArticle {
   height: 25em;
   background-color: #ece6d7;
}

#calendar {
	height: 25em;
   background-color: #ece6d7;
   margin-bottom: 30px;
}


/* new article */
refusedArticle, .refusedArticle a {
	color: red;
}
submitArticle, .submitArticle a {
	color: blue;
}
progressArticle, .progressArticle a {
	color: black;
}
publishedArticle, .publishedArticle a {
	color: green;
}



/*menu*/
#topNavbar {
	background-color: orange;
}
.default {
	/* style of the navbar when you are top */
}
.default img {
	height: 150px;
	position: fixed;
	left: 0;
}
.little {
	/* style of the navbar when you scroll */
}
.little img, .little .navbar-header, .little .navbar-header a {
	height: 50px;
	margin: 0;
	padding: 0;
}

#topNavbar a:link {color: white;}
#topNavbar a:visited {color: white;}
#topNavbar a:hover {
	color: orange;
	background-color: white;
}
#topNavbar a:active {
	color: orange;
	background-color: white;
}

/*right sidebar*/
/*#rightSidebar {
	
}*/



