{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'articles</h1>

    {{ form_start(form) }}
        {{ form_widget(form, { 'attr': {'class': 'todo'} }) }}
        <input type="submit" value="Creation" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('articles_index') }}">Retour vers la liste</a>
        </li>
    </ul>
{% endblock %}
